.author__avatar {
    width: 200px;       /* Set the width of the avatar */
    height: 200px;      /* Set the height of the avatar */
    border-radius: 50%; /* Make the avatar circular */
    object-fit: cover;  /* Ensure the image covers the container without distortion */
}

.author__avatar img, .author_avatar img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}
